<div class="container">
    <h1 class="mb-4">スレッド作成</h1>
    <%= form_for(@post_thread) do |f| %>
    <h4>タイトル</h4>
    <%= f.text_field :title, placeholder: "Title", class: "form-control mb-3" %>
    <h4>コメント</h4>
    <%= f.text_area :comment, placeholder: "Comment", class: "form-control mb-3" %>
    <h4>画像</h4>
    <%= f.attachment_field :image %>

    <h4>カテゴリー</h4>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |category| %>
    <%= category.label do %>
    <%= category.check_box %>
    <%= category.text %>
    <% end %>
    <% end %>
    <%= f.submit "作成", class: "btn btn-primary" %>
    <% end %>
</div>
