<p>new</p>
<div class="container">
    <h1>スレッド作成</h1>
    <%= form_for(@post_thread) do |f| %>
    <p>タイトル</p>
    <%= f.text_field :title, placeholder: "Title" %>
    <p>コメント</p>
    <%= f.text_area :comment, placeholder: "Comment" %>
    <p>画像</p>
    <%= f.attachment_field :image %>
    <%= f.submit "作成", class: "btn btn-primary" %>
    <% end %>
</div>