<p>show</p>
<div class="container">
    <h1>
        <%= @post_thread.title %>
    </h1>
    <li class="list-group">
    <%= @post_thread.created_at.strftime('%m月%d日 %H:%M:%S') %>
    <%= "user.id#{@post_thread.user_id}" %><br>
    <%= @post_thread.comment %>
    <%#= attachment_image_tag @post_thread, :image, :fill, 100, 100, format :"jpg" %>
    <%= attachment_image_tag @post_thread, :image, :width => '100', :height => '100', format: "jpg" %>
    </li>
</div>